<<<<<<< HEAD
﻿
@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div id="slid">

    <figure>
        <img src=@Url.Content("/Content2/images/slider1.jpg") />
    <img src=@Url.Content("/Content2/images/slider2.jpg") />
    <img src=@Url.Content("/Content2/images/slider3.jpg") />
    <img src=@Url.Content("/Content2/images/slider4.jpg") />
    <img src=@Url.Content("/Content2/images/slider5.jpg") />
    <img src=@Url.Content("/Content2/images/slider6.jpg") />
    <img src=@Url.Content("/Content2/images/slider7.jpg") />
        </figure>
</div>



﻿
